---
layout: default
---

{% for category in site.categories reversed %}
    <h1>{{ category[0] | upcase }}</h1>
    <table>
        {% for post in category[1] reversed %}
        <tr>
            <td><span class="count">{% if post.part %}{{ post.part }}{% else %}{{ forloop.index }}{% endif %}</span></td>
            <td>{{ post.title }}</td>
            <td>{{ post.speaker }}</td>
            <td>{{ post.date | date: "%b %d, %Y" }}</td>
            <td><a href="{{ post.url }}">Play ({{ post.duration }})</a></td>
            <td><a href="{{ site.cdn }}/sermons/{{ post.mp3 }}">Download</a></td>
        </tr>
        {% endfor %}
    </table>
{% endfor %}
