    <style>
        body {
            font-family: play, sans-serif;
            font: normal normal normal 14px/1.3em;
            padding: 0;
            margin: 0;
        }

        article {
            margin: 1em 2em 1em 2em;
        }

        header h1, header h2 {
            margin: 0;
        }

        h1 {
            color: #96CD36;
            font-family: Signika, sans-serif;
        }

        .count {
            background: #96CD36;
            color: white;
            padding: 5px 10px;
            display: inline-block;
            font-weight: bold;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
        }

        table {
            margin: auto;
            width: 90%;
            border-collapse: collapse;
            margin-bottom: 4em;
        }

        td {
            border-bottom: 1px solid #DDD;
            padding: 0.5em;
        }

        .imagebox {
            background: black;
            text-align: center;
            margin-bottom: 2em;
        }

        .imagebox img {
          vertical-align: middle;
          max-width: 100%;
        }

        .social {
            margin-top: 1em;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Jura:n,b,i,bi|Signika:n,b,i,bi|Forum:n,b,i,bi|Play:n,b,i,bi|&amp;subset=latin">
    <meta charset="utf-8" />
